/* _____ RESET _____ */

*, h1, h2, h3, h4, h5, h6, nav,
li, ul, ol, p, img, section, article,
header, footer {margin:0; padding:0;}

/* _____ GRID _____ */

*[class*="grid"] {
    margin-left:10px;
    margin-right:10px;
    float:left;
    display:inline;
}

.grid1 {width:40px;}
.grid2 {width:100px;}
.grid3 {width:160px;}
.grid4 {width:220px;}
.grid5 {width:280px;}
.grid6 {width:340px;}
.grid7 {width:400px;}
.grid8 {width:460px;}
.grid9 {width:520px;}
.grid10 {width:580px;}
.grid11 {width:640px;}
.grid12 {width:700px;}
.grid13 {width:760px;}
.grid14 {width:820px;}
.grid15 {width:880px;}
.grid16 {width:940px;}

.clear {
    clear:both;
    display:block;
}

.offset1 {margin-left:70px;}
.offset2 {margin-left:130px;}
.offset3 {margin-left:190px;}
.offset4 {margin-left:250px;}
.offset5 {margin-left:310px;}
.offset6 {margin-left:370px;}
.offset7 {margin-left:430px;}
.offset8 {margin-left:490px;}
.offset9 {margin-left:550px;}
.offset10 {margin-left:610px;}
.offset11 {margin-left:670px;}
.offset12 {margin-left:730px;}
.offset13 {margin-left:790px;}
.offset14 {margin-left:850px;}
.offset15 {margin-left:910px;}

.suffix1 {padding-right: 60px;}
.suffix2 {padding-right: 120px;}
.suffix3 {padding-right: 180px;}
.suffix4 {padding-right: 240px;}
.suffix5 {padding-right: 300px;}
.suffix6 {padding-right: 360px;}
.suffix7 {padding-right: 420px;}
.suffix8 {padding-right: 480px;}
.suffix9 {padding-right: 540px;}
.suffix10 {padding-right: 600px;}
.suffix11 {padding-right: 660px;}
.suffix12 {padding-right: 720px;}
.suffix13 {padding-right: 780px;}
.suffix14 {padding-right: 840px;}
.suffix15 {padding-right: 900px;}


/* _____ BODY _____ */


* {
    font-family: "Gill Sans MT", Sans-Serif;
}

p, ul, ol, li, a {
    font-size: 14px;
    line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
    color: #E50000;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#login {
    background: url("../images/burning-house/brand-feuer-flammen.jpg") no-repeat center;
}

/* _____ HEADER _____ */

header {
    width: 100%;
    background-color: #333;
    height: 5em;
    position: fixed;
    opacity: .90;
}

header nav {
    width: 960px;
    margin: 0 auto;
    margin-top: 1.7em;
}

header a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    transition: color 300ms linear;
    text-transform: uppercase;
    margin: 0 auto;
}

li a {
    margin: 0 auto;
}

header a:hover {
    color: #E50000;
}

/* _____ MAIN _____ */


#wrapper {
    padding-top: 10em;
    padding-bottom: 3em;
    width: 960px;
    margin: 0 auto;
}

#game {
    margin-top: 3em;
    margin-bottom: 3em;
}

.field {
    background-color: #ababab;
    height: 40px;
    margin-bottom: 20px;
}

.field:hover {
    background-color: #4d4d4d;
}

.button, button {
    text-align:center;
    text-decoration:none;
    color:white;
}

.button p, button {
    padding: 10px;
    color: white;
    background-color: #E50000;
    border-radius:5px;
    transition:background-color 300ms linear;
    transition:color 300ms linear;
    text-transform: uppercase;
}

.button p:hover, button:hover {
    background-color:#333;
    color: #E50000;
}

.whiteframe {
    width: 720px;               /* ICH MUSS ES IRGENDWIE IN DER HTML-DATEI MIT HILFE DER GRID-KLASSEN SCHAFFEN */
    background-color: white;
    padding: 3em 0 3em 0;
}

.highscore {
    width: 560px;
    content: "";
    margin:auto;
    padding: auto;
}



/* _____ FOOTER _____ */

footer {
    background-color: #d1d1d1;
    width: 100%;
    height: 3em;
    line-height: 1.7em;
    margin-top: 2em;
}

footer section {
    width: 960px;
    margin: 0 auto;
}
